.popup-overlay {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it appears on top */
  }
  
  .popup-message {
    background-color: #33a6cd; /* Match the page color scheme */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  